<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../css/mobile.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
	<title>
		Qtec
	</title>
</head>
<body>
	<div class="bd">

	<div class="top">
		<h1>Reliable, efficient delivery</h1>
		<h1 class="bold">Powerwd by Technology</h1>
		<h4>Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is successfull</h4>
	</div>
	<div class="template">
		<div class="supervisor">
			<h2>Supervisor</h2>
			<h5>Monitors activity to identify project roadblocks</h5>
			<img src="../asset/icon-supervisor.svg">
		</div>
		<div>
			<div class="team_builder">
				<h2>Team Builder</h2>
				<h5>Scans our talent network to create the optimal team for your project</h5>
				<img src="../asset/icon-team-builder.svg">
			</div>
			<div class="karma">
				<h2>Karma</h2>
				<h5>Regularly evaluates our talent to ensure quality</h5>
				<img src="../asset/icon-karma.svg">
			</div>
		</div>
		<div class="calculator">
			<h2>Calculator</h2>
			<h5>Uses data from past projects to provide better delivery estimates</h5>
			<img src="../asset/icon-calculator.svg">
		</div>
	</div>
	
	</div>
</body>
</html>